@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: #0c192b;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 350px;
    padding: 20px;
    background-color: #ebd8d8;
    border-radius: 8px ;
    box-shadow: 0 4px 8px 8px rgba(201, 10, 10, 0.1);
}
.input-container{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid blueviolet;
    border-radius: 10px;
    overflow: hidden;

}

.cityinput{
    flex: 1;
    height: 30px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
}
.search-icon{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
.search-icon img{
    width: 25px;
    height: 25px;
    margin-top: 4px;
}
.image{
    text-align: center;
    height: 150px;
    margin-top: 10px;
}
.image img{
    width: 150px;
    height: 150px;
}

.temp,.country,.location{
    margin-top: 5px;
    font-size: 35px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
}
.temp{
    font-weight: 500;
}
.location{
    color: #ff0606;
    font-weight: 400;
    font-size: 40px;
}
.country{
    font-size: 18px;
    color: #2d2929;
    font-weight: 500;
}

.cord{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 10px;
    text-align: center;
}
.cord div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.cord div span{
    font-size: 14px;
}
.humidity-percent,.wind-percent,
.cord div span:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    color: #312f2f;
    padding-top: 5px;
}

.data-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}
.element{
    text-align: center;


}
.icon{
    width: 30px;
    height: 30px;
}
.text{
    font-size: 12px;
    color: #888;
}
.loding-message,.error-me,
.city-not-found{
    margin-top: 10px;
    color: #888;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 600px) {
    .container{
        width: 90%;
        padding: 15px;
    }

    .temp{
        font-size: 23px;
    }

    .location{
        font-size: 38px;
    }

    .country{
        font-size: 18px;
    }

    .image img{
        width: 120px;
        height: 120px;
    }

    .cord{
        flex-direction: column;
        gap: 5px;
    }
    .cord div{
        padding: 5px;
    }

    .humidity-percent,.wind-percent, .cord div span:nth-child(2)
    {
        font-size: 16px;
    }

    .data-container{
        flex-direction: row;
        align-items: center;
    }
    .element{
        margin-bottom: 10px;
    }
     .loding-message, .error-me, .city-not-found{
        font-size: 16px;
     }
    
}